@charset "utf-8";

@font-face {
    font-family: 'IranY';
    src: url('../font/BRoya.eot');
    src: url('../font/BRoya.ttf');
    
  }

*{
    font-family: 'IranY';
    text-decoration: none !important;
}

.input-group.custom-edit input
{
    font-size: 16px;
    box-shadow: none !important;
}

.input-group.custom-edit button
{
    font-size: 16px;
    box-shadow: none !important;
}
.custom-hover a{
    color: darkgray !important;
    font-size: 16px !important;
    transition: all .3s ease !important;
}

.custom-hover a:hover{
    color:darkgreen !important;
    
}

.navbar-color {
    background-color: #4d545d !important;
}

.custom-dropdownmenu {
    top: 59px !important;
}

.custom-navbar-nav li a {
    font-size: 15.5px !important;
    color: #fff !important;
}

.custom-navbar-nav .custom-nav-item .custom-dropdownmenu a{
    color: #000 !important;
    transition: all .3s ease !important;
}

.custom-navbar-nav .custom-nav-item .custom-dropdownmenu a:hover{
    color: darkgreen !important;

}

@media(min-width:992px){
    .navbar{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .custom-nav-item {
        padding-top: 11px !important;
        padding-bottom: 11px !important;
        border-left: 1px solid #6a767d !important;
    }
    .nav-item:last-child{
        border-left: none !important;
    }
}

@media(min-width:992px){
    .dropdown-menu{
        opacity: 0 !important;
        display: block !important;
        visibility: hidden !important;
        top: 100px !important;
        transition: all 0.3s ease !important;
        transition-delay: 0.2s !important;
    }
    .dropdown:hover>.dropdown-menu{
        opacity: 1 !important;
        visibility: visible !important;
        display: block !important;
        top:58px !important
    }
}

.non-border{
    border-bottom: 0 !important;
}

.modal-body .sizing{
    font-size: medium !important;
}
.modal-body .sizing2{
    font-size: 14px !important;
}

.custom-containerfluid{
    background-image: url(../img/background1.jpg);
    width: 100% !important;
    height: 260px !important;
    position: relative !important;
    background-blend-mode: overlay !important;
}

.title{
    color: #ffe9e9 !important;
    background: #d80f34 !important;
}

.more{
    font-size: 14px !important;
    background-color: #4ec51c !important;
}
.more1{
    font-size: 14px !important;
    cursor: pointer !important;
}

.custom-border::before{
    width: 100%;
    height: 2px;
    content: "";
    position: relative !important;
    background-color: #4ec51c;
    display: block;
    top: 38px !important;
}

.custom-col{
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.custom-card .sblayer{
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
}

.custom-card .overlay{
    position: absolute !important;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    border-radius: 2px;
    transition: all 0.2s ease-out !important;
}

.custom-card:hover .overlay{
    opacity: 1;
    visibility: visible;
}

.custom-card .overlay .btn{
    position: absolute;
    top: 70%;
    right: 50%;
    transform: translate(50%,-50%) scale(0);
    border-radius: 35px;
    transition: all 0.2s ease-out;
    font-size: 14px;

}

.custom-card .overlay .badge{
    position: absolute;
    top: 35%;
    right: 50%;
    transform: translate(50%,-50%) scale(0);
    border-radius: 35px;
    transition: all 0.2s ease-out 0.1s;
    font-size: 13px;
    font-weight: lighter;
    border-radius: 35px;
}

.custom-card:hover .overlay .btn{
    transform: translate(50%,-50%) scale(1);
}

.custom-card:hover .overlay .badge{
    
    transform: translate(50%,-50%) scale(1);
   
}