@charset "utf-8";

@font-face {
    font-family: 'IranY';
    src: url('../font/BRoya.eot');
    src: url('../font/BRoya.ttf');
    
  }

  @font-face {
    font-family: 'IranYekan';
    src: url('../font/iranyekan.eot');
    src: url('../font/iranyekan.woff');
    
  }
  @font-face {
    font-family: 'IranFamily';
    src: url('../font/Iran-Family/IRAN.eot');
    src: url('../font/Iran-Family/IRAN.woff');
  }
  @font-face {
    font-family: 'IranFamilybold';
    src: url('../font/Iran-Family/IRAN_SemiBold.eot');
    src: url('../font/Iran-Family/IRAN_SemiBold.woff');
  }
  @font-face {
    font-family: 'IranFamilybolder';
    src: url('../font/Iran-Family/IRANBold.eot');
    src: url('../font/Iran-Family/IRANBold.woff');
  }
  @font-face {
    font-family: 'IranYekanFullEB';
    src: url('../font/IRANYekanWebExtraBlack.eot');
    src: url('../font/IRANYekanWebExtraBlack.woff');
  }
  @font-face {
    font-family: 'IranYekanEB';
    src: url('../font/IRANYekanWebBlack.eot');
    src: url('../font/IRANYekanWebBlack.woff');
  }
  @font-face {
    font-family: 'IranYekanB';
    src: url('../font/IRANYekanWebExtraBold.eot');
    src: url('../font/IRANYekanWebExtraBold.woff');
  }
  @font-face {
    font-family: 'IranYekanSB';
    src: url('../font/IRANYekanWebBold.eot');
    src: url('../font/IRANYekanWebBold.woff');
  }
  @font-face {
    font-family: 'IranYekanL';
    src: url('../font/IRANYekanWebLight.eot');
    src: url('../font/IRANYekanWebLight.woff');
  }
  @font-face {
    font-family: 'IranYekanR';
    src: url('../font/IRANYekanWebRegular.eot');
    src: url('../font/IRANYekanWebRegular.woff');
  }

  /*اعداد فارسی */
  @font-face {
    font-family: 'IranYekanRN';
    src: url('../font/iranyekanwebregularfanum.eot');
    src: url('../font/iranyekanwebregularfanum.woff');
    
  }
  @font-face {
    font-family: 'IranYekanMN';
    src: url('../font/iranyekanwebmediumfanum.eot');
    src: url('../font/iranyekanwebmediumfanum.woff');
    
  }
  @font-face {
    font-family: 'IranYekanBN';
    src: url('../font/iranyekanwebboldfanum.eot');
    src: url('../font/iranyekanwebboldfanum.woff');
    
  }
  @font-face {
    font-family: 'IranYekanEBN';
    src: url('../font/iranyekanwebextraboldfanum.eot');
    src: url('../font/iranyekanwebextraboldfanum.woff');
    
  }



*{
    font-family: 'IranYekan';
    text-decoration: none !important;
}

.heightone{
    height: 94vh !important;
}
.right-side{
    background-color: #7f53ac !important;
    background-image: linear-gradient(315deg, #6959d1, #7564e0) !important;
    border-top-right-radius: 35px !important;
    border-bottom-right-radius: 35px !important;
    overflow: hidden !important;
}
.right-side button{
    color: #fff !important;
    font-size: 30px !important;
}
.list-group li{
    background:none !important;
    cursor: pointer !important;
    transition: all 0.4s ease !important;
}
.list-group li a{
    color: #fff !important;
}
.list-group li:hover{
    background: #fff !important;
}
.list-group li:hover a{
    color: #039be5 !important;
}
.border1{
    border-radius: 35px 0 0 35px !important;
}
.left-side{
    border-radius: 35px 0 0 35px !important;
}
.custom-alert {
    border-radius: 15px !important;
    font-size: 16px !important;
    background: rgba(255, 238, 185, 0.33) !important;
}
.custom-alert p{
    line-height: 2.5 !important;
}
.heading2 th{
    font-weight: lighter !important;
}

.dropdown-profile a{
    font-size: 12px !important;
}
.dropdown-profile a i{
    padding-left: 5px !important;
}
.chart h5{
    color: #919191 !important;
}
.last-sale-btn a:hover{
    box-shadow: 0 0.5rem 1rem rgba(111, 66, 193, 0.5) !important;
    background: #7f53ac !important;
    color: #fff !important;
}
.last-sale-btn a{
    color: #7564e0 !important;
    transition: all 0.5s ease !important;
}
.last-sale-btn a:focus{
    color: #0c940c !important;
    box-shadow: 0 0 0 .2rem rgba(24, 1, 65, 0.507) !important;
}

.transaction-head h5{
    color: #919191 !important;
    font-size: 22px !important;
}
.transaction .form-group a:hover{
    background-color: #d1cdcd !important;
    box-shadow: 2px 2px 5px #6c6b6e !important;
}
.transaction .form-group:first-child a:focus{
    border:1px solid green !important;
    background-color: #fff !important;
    box-shadow: none !important;
    color: green !important;
}
.transaction .form-group:nth-child(2) a:focus{
    border:1px solid red !important;
    background-color: #fff !important;
    box-shadow: none !important;
    color: red !important;
}
.btn-search a{
    background: #ffee00 !important;
    background-image: linear-gradient(315deg, #ffcf00 0%,  #ffee00 95%) !important;
    width: 35% !important;
    border-radius: 15px 15px 0 0 !important;
    color: #919191 !important;
    padding: 12.5px 0 !important;
    transition: all 0.5s ease;
    font-family: 'IranYekanSB' !important;
}
.btn-search a:hover{
    box-shadow:-1px -1px 5px #ffcf00  !important;
}
.border1 h5{
    color: #919191 !important;
}
h5.titr{
    font-family: 'IranFamilybolder' !important;
}
.table-edit th{
    font-family: 'IranFamilybolder' !important;
}
.plugin-edit:first-child p{
    font-family: 'IranFamilybolder' !important;
}
.resize{
    resize: none !important;
}
.helper .form-group a{
    border: 1px solid #6959d1 !important;
    color: #6959d1 !important;
}
.bb a:nth-child(1):hover{
    color: white !important;
    border: 1px solid #007bff !important;
}
.bb a:nth-child(2):hover{
    color: white !important;
    border: 1px solid #ffc107 !important;
}
.bb a:nth-child(3):hover{
    color: white !important;
    border: 1px solid #dc3545!important;
}
.plugin-edit p:nth-child(1){
    font-family: 'IranYekanSB' !important;
}
.plugin-edit p:nth-child(2){
    font-family: 'IranYekanL' !important;
}
.plugin-edit p:nth-child(3){
    font-family: 'IranYekanR' !important;
}
.plugin-edit p:hover  i{
    transition: all 0.9s ease;
    color: rgb(207, 1, 1) !important;
}
 strong{
    font-family: 'IranYekanSB' !important;
}
.custom-switch-edit{
    padding: 2.2rem !important;
    direction: ltr !important;
}
.custom-switch .custom-control-label::before{
    width: 2.75rem !important;
    height: 1.25rem !important;
}
.custom-switch .custom-control-label::after{
    width: 16px !important;
    height: 16px !important;
}
.custom-control-input:checked ~ .custom-control-label::before{
    background-color: #20c997 !important;
    border: 1px solid #20c997 !important;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after{
    transform: translateX(1.5rem) !important;
}
.cart-bank select option{
    font-weight: bold !important;
}
.border-right-dotted{
    border-right: 1px dotted #6c6b6e !important;
}
.para-edit{
    font-size: 16px !important;
    line-height: 2.6 !important;
    font-family: 'IranYekanL' !important;
}
.finger input{
    border-radius: 10px !important;
    background: #ececec !important;
    border: none !important;
}
.finger input:focus{
    z-index: 0 !important;
    background: #f1efef !important;
}
.finger input:focus a{
    z-index: 99 !important;
}
.finger a{
    bottom: 0;
    top: 0;
    left: 0;
    background: #6f42c1 !important;
    border-radius: 10px !important;
    color: #fff !important;
}
p.wage small{
    font-family: 'IranYekanL' !important;
    font-weight: bolder !important;
}
p.wage strong{
    font-family: 'IranYekanRN' !important;
    font-weight: bolder !important;
}
strong{
    font-family: 'IranYekanRN' !important;
    font-weight: bolder !important;
}
small{
    font-family: 'IranYekanL' !important;
    font-weight: bolder !important;
}
p span{
    font-family: 'IranYekanL' !important;
    font-weight: bolder !important;
}
.earn{
    border-radius: 20px !important;
}
.earn a{
    border: none !important;
    background: #fbb034 !important;
    background-image: linear-gradient(315deg, #ffdd00 0%, #fbb034 75%) !important;
    border-radius: 15px !important;
}

.finger2 .card{
    border-radius: 15px !important;
}
.finger2 .card:nth-child(1), 
.finger2 .card:nth-child(2) {
    background: rgba(255, 238, 185, 0.60) !important;
}

.finger2 .card:nth-child(3), 
.finger2 .card:nth-child(4) {
    background: #ededed !important;
}
.finger3 a{
    color: #000 !important;
    background: #fbb034 !important;
    background-image: linear-gradient(315deg, #ffdd00 0%, #fbb034 75%) !important;
}
.custom-control-input2:checked ~ .custom-control-label2::before{
    background: #9f75c1 !important;
    border: 1px solid #9f75c1 !important;

}
 a.btn-card{
    background: #f8f9fa !important;
    font-family: 'IranYekanR' !important;
    font-size: 14px !important;
    border: 1px dashed #9f75c1 !important ;
    border-radius: 15px !important;
}
.btn-card2 a{
    background: #e9e9e9 !important;
    border-radius: 15px !important;
}
.editing small{
    font-size: 13px !important;
}
.register {
    border-radius: 20px 20px 0 0 !important;
}
.register input{
    border: 1px solid #e9e9e9 !important;
    font-size: 14px !important;
    padding: 23px !important;
    border-radius: 15px !important;
}
.register .input-group-text{
    border: 1px solid #e9e9e9 !important;
    font-size: 15px !important;
    border-radius: 15px !important;
    color: #9e9e9e !important;
}
a.btn-search{
    background: #ffee00 !important;
    background-image: linear-gradient(315deg, #ffcf00 0%,  #ffee00 95%) !important;
    border-radius: 25px !important;
    color: #919191 !important;
    padding: 12.5px 0 !important;
    transition: all 0.5s ease;
    font-family: 'IranYekanSB' !important;
}
a.btn-search:hover{
    box-shadow:-1px -1px 5px #ffcf00  !important;
}
.border2{
    border-radius: 0 0 15px 15px !important;
}
.border2 a{
    color: #6f42c1 !important;
}
.head{
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 40%;
    background: #6f42c1 !important;
    border-radius: 0 0 5em 5em;
}
strong.sizing3{
    font-size: 23px !important;
}
.border3{
    border-radius: 8px !important;
}
.customize{
    border-top: 1px dashed #e9e9e9 !important;

}
.customize label{
    font-size: 14px !important;
}
.customize input{
    border: none !important;
    background-color: #f2f2f2 !important;
    font-size: 13px !important;
    border-radius: 10px !important;
}
.customize input::placeholder{
    font-size: 12px !important;
    font-family: 'IranFamily' !important;
}
.customize .buttons a:nth-child(1){
    background: #ffee00 !important;
    background-image: linear-gradient(315deg, #ffcf00 0%,  #ffee00 95%) !important;
    border-radius: 25px !important;
    color: #919191 !important;
    padding: 12.5px 0 !important;
    transition: all 0.2s ease;
    font-family: 'IranYekanSB' !important;
}

.customize .buttons a:nth-child(1):hover{
    box-shadow:-1px -1px 5px #ffcf00  !important;
}
.customize .buttons a:nth-child(2){
    color: #6f42c1 !important;
}
.customize2 p{
    font-family: 'IranYekanR' !important;
}